{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DiningKode</title>
    <meta name="description" content="DiningKode">
    <meta name="author" content="You!">
<link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">

</head>

<body>
 <!-- TODO:  Change following to a good design! --> 
 <!-- Copy Navbar from index.html  --> 
<header>
    <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/list/" class="active">Restaurants</a></li>
       <li><a href="#" >Rating</a>
          <ul>
            <li><a href="/rating/5">5</a></li>
            <li><a href="/rating/4">4</a></li>
            <li><a href="/rating/3">3</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    </header>

    <div class="mainbox">
               <div class="card_single">
             <img src="{{ restaurant.image }}" width="500">
              <a href="/{{restaurant.name}}"><h1>{{restaurant.name}}</h1></a>
              <ul class="card_list">
              <li><strong>Rating:</strong> {{ restaurant.rating }}</li>
               <li><strong>Phone:</strong> {{ restaurant.phone_number }}</li>
                <li><strong>Address:</strong> {{ restaurant.address }}</li>
            </ul>
                </div>

<!--         <section>
            <h2>Reviews</h2>
            <ul>
            {% for review in reviews %}
            <li>
                {{ review.review_text }}     
                by: {{ review.author.username }}
            </li>

            {% endfor %}
            </ul>
        </section> -->
         </div>
</body>
</html>
