{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>DiningKode Restaurants</title>
    <meta name="description" content="DiningKode">
    <meta name="author" content="You!">
    <link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">
    <!-- For box model http://codepen.io/collection/DVYVpB/ --> 
</head>

<body>
   
     <nav>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/list/" class="active" >Restaurants</a>
          <ul>
            <li><a href="#">MCDonalds</a></li>
            <li><a href="#">KFC</a></li>
            <li><a href="#">BurgerKing</a></li>
          </ul>
        </li>
        <li><a href="#" >Rating</a>
          <ul>
            <li><a href="#">5</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    </header>
    <main>
        <ul>
            <li><a href="/rating/5">Restaurants rated 5</a></li>
            <li><a href="/rating/4">Restaurants rated 4 or greater</a></li>
            <li><a href="/rating/3">Restaurants rated 3 or greater</a></li>
        </ul>
        <ul>
            {% for resto in restaurants %}
                <li>
                    <section>
                            <a href="/{{resto.name}}">
                                <img src="{{ resto.image }}" alt="" width="300">
                            </a>
                            <ul>
                                <li>
                                    <a href="/{{resto.name}}">{{resto.name}}</a>
                                </li>
                                <li>rating: {{ resto.rating }}</li>
                                <li>phone: {{ resto.phone }}</li>
                                <li>address: {{ resto.address }}</li>
                            </ul>
                    </section>
                </li>
            {% endfor %}
        </ul>

    </main>
</body>
</html>
